body {
  margin: 0;
  padding: 65px 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f9cd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

p, ul {
  margin: 0;
  padding: 0;
}

.ui.table td {
  padding: 2px 10px !important;
}
